$bgColor: #dadada;
$bgColorLeft: rgb(230, 230, 230);
$bgColorRight: white;
$fontColor: #585858;
$firstNameColor: rgb(57, 108, 162);
$secondNameColor: #313131;
$max-width: 960px;
$min-height: 1200px;
$box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
$aHoverBg: rgb(57, 108, 162);
$skillsLevelColor: rgb(184, 184, 184);
$skillsLevelKnow: rgb(51, 84, 137);

$fontSizeMobile: 20px;